<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header class="site-header">
      <div class="container header-inner">
        <a class="logo" href="/">{{ site.title }}</a>
      </div>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="container">
        <p>© {{ site.title }} • Hosted with Github Pages • Last Updated: October 2025</p>
      </div>
    </footer>
  </body>
</html>
